<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# <% @matches.each do |match| %> %>
      <tr>
        <td><%= link_to 'Edit', edit_club_event_series_match_path(@match) %></td>
      </tr>
    <%# <% end %> %>
  </tbody>
</table>

<br>

