<p id="notice"><%= notice %></p>
<h1>Les match de la serie (serie ID) du (serie date)</h1>

<h2>Match</h2>
<% @matches.each do |match| %>
<%= match.serie_id %>
<%= link_to 'Edit', edit_club_event_series_match_path(@club, @event, @serie, match) %>
<% end %>


<%# <%= link_to 'Back', series_path %>
